interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/search/artists?p=1&sort=relevance&artistMbid=0bfba3d3-6a04-4779-bb0a-df07df5b0558&artistName=Stereophonics
  response:
    content: "{\n   \"type\" : \"artists\",\n   \"itemsPerPage\" : 30,\n   \"page\"
      : 1,\n   \"total\" : 1,\n   \"artist\" : [ {\n      \"mbid\" : \"0bfba3d3-6a04-4779-bb0a-df07df5b0558\",\n
      \     \"name\" : \"Stereophonics\",\n      \"sortName\" : \"Stereophonics\",\n
      \     \"disambiguation\" : \"\",\n      \"url\" : \"https://www.setlist.fm/setlists/stereophonics-bd6bd7a.html\"\n
      \  } ]\n}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - U0oyrFCbIAMFsEQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '333'
      x-amzn-Remapped-Date:
      - Wed, 06 Jul 2022 02:07:51 GMT
      x-amzn-RequestId:
      - 15e0541e-1c5c-48a8-b460-f4e5930b9581
    status_code: 200
version: 1
