interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/venue/6bd6ca6e/setlists?p=2
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 2,\n   \"total\" : 64,\n   \"setlist\" : [ {\n      \"id\" : \"4bddb73a\",\n
      \     \"versionId\" : \"633a567f\",\n      \"eventDate\" : \"03-04-2002\",\n
      \     \"lastUpdated\" : \"2020-06-02T08:04:40.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"ba550d0e-adac-4864-b88b-407cab5e76af\",\n         \"name\"
      : \"Paul McCartney\",\n         \"sortName\" : \"McCartney, Paul\",\n         \"disambiguation\"
      : \"The Beatles\",\n         \"url\" : \"https://www.setlist.fm/setlists/paul-mccartney-13d6bd15.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"6bd6ca6e\",\n         \"name\"
      : \"Compaq Center\",\n         \"city\" : {\n            \"id\" : \"5392171\",\n
      \           \"name\" : \"San Jose\",\n            \"state\" : \"California\",\n
      \           \"stateCode\" : \"CA\",\n            \"coords\" : {\n               \"lat\"
      : 37.3393857,\n               \"long\" : -121.8949555\n            },\n            \"country\"
      : {\n               \"code\" : \"US\",\n               \"name\" : \"United States\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\"\n
      \     },\n      \"tour\" : {\n         \"name\" : \"Driving USA\"\n      },\n
      \     \"sets\" : {\n         \"set\" : [ {\n            \"song\" : [ {\n               \"name\"
      : \"Hello, Goodbye\",\n               \"cover\" : {\n                  \"mbid\"
      : \"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\",\n                  \"name\" : \"The
      Beatles\",\n                  \"sortName\" : \"Beatles, The\",\n                  \"disambiguation\"
      : \"\",\n                  \"url\" : \"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\"\n
      \              }\n            }, {\n               \"name\" : \"Jet\",\n               \"cover\"
      : {\n                  \"mbid\" : \"d922d727-240a-4432-9a88-[...]
