interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/user/michi/edited?p=2
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 2,\n   \"total\" : 29341,\n   \"setlist\" : [ {\n      \"id\" : \"3bb4b878\",\n
      \     \"versionId\" : \"g1bf4f914\",\n      \"eventDate\" : \"27-05-2022\",\n
      \     \"lastUpdated\" : \"2022-06-18T22:20:39.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"3478a5d1-bd96-4584-aa54-4d6e0a329658\",\n         \"name\"
      : \"Sam Fender\",\n         \"sortName\" : \"Fender, Sam\",\n         \"disambiguation\"
      : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/sam-fender-2bcf0832.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"4bd7fb56\",\n         \"name\"
      : \"Scarborough Open Air Theatre\",\n         \"city\" : {\n            \"id\"
      : \"2638419\",\n            \"name\" : \"Scarborough\",\n            \"state\"
      : \"England\",\n            \"stateCode\" : \"ENG\",\n            \"coords\"
      : {\n               \"lat\" : 54.2872222,\n               \"long\" : -0.4141667\n
      \           },\n            \"country\" : {\n               \"code\" : \"GB\",\n
      \              \"name\" : \"United Kingdom\"\n            }\n         },\n         \"url\"
      : \"https://www.setlist.fm/venue/scarborough-open-air-theatre-scarborough-england-4bd7fb56.html\"\n
      \     },\n      \"tour\" : {\n         \"name\" : \"Seventeen Going Under\"\n
      \     },\n      \"sets\" : {\n         \"set\" : [ {\n            \"song\" :
      [ {\n               \"name\" : \"Will We Talk?\"\n            }, {\n               \"name\"
      : \"Getting Started\"\n            }, {\n               \"name\" : \"Dead Boys\"\n
      \           }, {\n               \"name\" : \"Mantra\"\n            }, {\n               \"name\"
      : \"Better of Me\"\n            }, {\n               \"name\" : \"The Borders\"\n
      \           }, {\n               \"name\" : \"Spice\"\n            }, {\n               \"name\"
      : \"Howdon Aldi Death Queue\"\n            }, {\n               \"name\" : \"Get
      You Down\",\n               \"info\" : \"Sam broke up a fight in the audience
      just before the song was played\"\n            }, {\n               \"name\"
      : \"Spit of You\"\n            }, {\n               \"name\" : \"Play God\"\n
      \           }, {\n               \"name\" : \"The Dying Light\"\n            }
      ]\n         }, {\n            \"encore\" : 1,\n            \"song\" : [ {\n
      \              \"name\" : \"Saturday\"\n            }, {\n               \"name\"
      : \"Seventeen Going Under\"\n            }, {\n               \"name\" : \"Hypersonic
      Missiles\"\n            } ]\n         } ]\n      },\n      \"url\" : \"https://www.setlist.fm/setlist/sam-fender/2022/scarborough-open-air-theatre-scarborough-england-3bb4b878.html\"\n
      \  }, {\n      \"id\" : \"43b4a373\",\n      \"versionId\" : \"g43f7234f\",\n
      \    [...]
