interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/user/michi/edited?p=1
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 1,\n   \"total\" : 29341,\n   \"setlist\" : [ {\n      \"id\" : \"6bb5c232\",\n
      \     \"versionId\" : \"gbf55d52\",\n      \"eventDate\" : \"01-07-2022\",\n
      \     \"lastUpdated\" : \"2022-07-04T06:00:11.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"f1c7b5c6-ba5d-4d14-a2b0-97aa76fae28a\",\n         \"name\"
      : \"Elles Bailey\",\n         \"sortName\" : \"Bailey, Elles\",\n         \"disambiguation\"
      : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/elles-bailey-bda3562.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"bd2051e\",\n         \"name\"
      : \"Fiddlers\",\n         \"city\" : {\n            \"id\" : \"2654675\",\n
      \           \"name\" : \"Bristol\",\n            \"state\" : \"England\",\n
      \           \"stateCode\" : \"ENG\",\n            \"coords\" : {\n               \"lat\"
      : 51.45,\n               \"long\" : -2.5833333\n            },\n            \"country\"
      : {\n               \"code\" : \"GB\",\n               \"name\" : \"United Kingdom\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/fiddlers-bristol-england-bd2051e.html\"\n
      \     },\n      \"sets\" : {\n         \"set\" : [ {\n            \"song\" :
      [ {\n               \"name\" : \"The Game\"\n            }, {\n               \"name\"
      : \"Stones\"\n            }, {\n               \"name\" : \"Perfect Storm\"\n
      \           }, {\n               \"name\" : \"Different Kind of Love\"\n            },
      {\n               \"name\" : \"What's the Matter With You?\"\n            },
      {\n               \"name\" : \"Riding Out The Storm\"\n            }, {\n               \"name\"
      : \"Miss me when I'm gone\",\n               \"info\" : \"Acoustic\"\n            },
      {\n               \"name\" : \"Don't Let the Green Grass Fool You\",\n               \"cover\"
      : {\n                  \"mbid\" : \"fc6214b3-6d82-4803-be74-01ece1723e42\",\n
      \                 \"name\" : \"Wilson Pickett\",\n                  \"sortName\"
      : \"Pickett, Wilson\",\n                  \"disambiguation\" : \"\",\n                  \"url\"
      : \"https://www.setlist.fm/setlists/wilson-pickett-7bd6ba8c.html\"\n               },\n
      \              \"info\" : \"Acoustic\"\n            }, {\n               \"name\"
      : \"Help Somebody\"\n            }, {\n               \"name\" : \"Medicine
      Man\"\n            }, {\n               \"name\" : \"Sunshine City\"\n            }
      ]\n         }, {\n            \"encore\" : 1,\n            \"song\" : [ {\n
      \              \"name\" : \"Howlin' Wolf\",\n               \"info\" : \"\",\n
      \              \"with\" : {\n                  \"mbid\" : \"0d505bea-a0cb-4090-a6fc-7e2a71950f46\",\n
      \                 \"name\" : \"Hannah Williams & The Affirmations\",\n                  \"sortName\"
      : \"Williams, Hannah & Affirmations, The\",\n                  \"url\" : \"https://www.setlist.fm/setlists/hannah-williams-and-the-affirmations-4bca2f9a.html\"\n
      \              }\n            } ]\n         } ]\n      },\n      \"url\" : \"https://www.setlist.fm/setlist/elles-bailey/2022/fiddlers-bristol[...]
