interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/setlist/63de4613
  response:
    content: "{\n   \"id\" : \"63de4613\",\n   \"versionId\" : \"g63f566a7\",\n   \"eventDate\"
      : \"23-08-1964\",\n   \"lastUpdated\" : \"2022-07-04T01:06:23.000+0000\",\n
      \  \"artist\" : {\n      \"mbid\" : \"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\",\n
      \     \"name\" : \"The Beatles\",\n      \"sortName\" : \"Beatles, The\",\n
      \     \"disambiguation\" : \"\",\n      \"url\" : \"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\"\n
      \  },\n   \"venue\" : {\n      \"id\" : \"33d62cf9\",\n      \"name\" : \"Hollywood
      Bowl\",\n      \"city\" : {\n         \"id\" : \"5368361\",\n         \"name\"
      : \"Los Angeles\",\n         \"state\" : \"California\",\n         \"stateCode\"
      : \"CA\",\n         \"coords\" : {\n            \"lat\" : 34.052,\n            \"long\"
      : -118.244\n         },\n         \"country\" : {\n            \"code\" : \"US\",\n
      \           \"name\" : \"United States\"\n         }\n      },\n      \"url\"
      : \"https://www.setlist.fm/venue/hollywood-bowl-los-angeles-ca-usa-33d62cf9.html\"\n
      \  },\n   \"tour\" : {\n      \"name\" : \"North American Tour 1964\"\n   },\n
      \  \"sets\" : {\n      \"set\" : [ {\n         \"song\" : [ {\n            \"name\"
      : \"Twist and Shout\",\n            \"cover\" : {\n               \"mbid\" :
      \"f18eac60-48d2-4d2b-b432-e43ce7e31d36\",\n               \"name\" : \"The Top
      Notes\",\n               \"sortName\" : \"Top Notes, The\",\n               \"disambiguation\"
      : \"\",\n               \"url\" : \"https://www.setlist.fm/setlists/the-top-notes-53d433dd.html\"\n
      \           }\n         }, {\n            \"name\" : \"You Can't Do That\"\n
      \        }, {\n            \"name\" : \"All My Loving\"\n         }, {\n            \"nam[...]
