interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/artist/0bfba3d3-6a04-4779-bb0a-df07df5b0558/setlists?p=1
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 1,\n   \"total\" : 991,\n   \"setlist\" : [ {\n      \"id\" : \"53b51b01\",\n
      \     \"versionId\" : \"g13f2ad71\",\n      \"eventDate\" : \"05-07-2022\",\n
      \     \"lastUpdated\" : \"2022-07-05T23:38:41.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"0bfba3d3-6a04-4779-bb0a-df07df5b0558\",\n         \"name\"
      : \"Stereophonics\",\n         \"sortName\" : \"Stereophonics\",\n         \"disambiguation\"
      : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/stereophonics-bd6bd7a.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"63d6ced3\",\n         \"name\"
      : \"The Eden Project\",\n         \"city\" : {\n            \"id\" : \"2638853\",\n
      \           \"name\" : \"St Austell\",\n            \"state\" : \"England\",\n
      \           \"stateCode\" : \"ENG\",\n            \"coords\" : {\n               \"lat\"
      : 50.3383333,\n               \"long\" : -4.7658333\n            },\n            \"country\"
      : {\n               \"code\" : \"GB\",\n               \"name\" : \"United Kingdom\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/the-eden-project-st-austell-england-63d6ced3.html\"\n
      \     },\n      \"tour\" : {\n         \"name\" : \"OocHya Tour 2022\"\n      },\n
      \     \"sets\" : {\n         \"set\" : [ {\n            \"song\" : [ {\n               \"name\"
      : \"C'est la vie\"\n            }, {\n               \"name\" : \"I Wanna Get
      Lost With You\"\n            }, {\n               \"name\" : \"A Thousand Trees\"\n
      \           }, {\n               \"name\" : \"Hanging On Your Hinges\"\n            },
      {\n               \"name\" : \"Do Ya Feel My Love\"\n            }, {\n               \"name\"
      : \"I Wouldn't Believe Your Radio\"\n            }, {\n               \"name\"
      : \"Step on My Old Size Nines\"\n            }, {\n               \"name\" :
      \"Superman\"\n            }, {\n               \"name\" : \"Vegas Two Times\"\n
      \           }, {\n               \"name\" : \"Maybe Tomorrow\"\n            },
      {\n               \"name\" : \"Geronimo\"\n            }, {\n               \"name\"
      : \"Hurry Up and Wait\"\n            }, {\n               \"name\" : \"Have
      a Nice Day\"\n            }, {\n               \"name\" : \"Catacomb\"\n            },
      {\n               \"name\" : \"Pick a Part That's New\",\n               \"info\"
      : \"Ukulele\"\n            }, {\n               \"name\" : \"Mr and Mrs Smith\"\n
      \           }, {\n               \"name\" : \"Sunny\"\n            }, {\n               \"name\"
      : \"Just Looking\"\n            }, {\n               \"name\" : \"The Bartender
      and the Thief\"\n            } ]\n         }, {\n            \"encore\" : 1,\n
      \           \"song\" : [ {\n               \"name\" : \"Fly Like an Eagle\"\n
      \           }, {\n               \"name\" : \"Mr Writer\"\n            }, {\n
      \              \"name\" : \"Handbags and Gladrags\",\n               \"cover\"
      : {\n                  \"mbid\" : \"3ffdc562-47d6-4862-b3ab-b1077e0e8b15\",\n
      \                 \"name\" : \"Mike d\u2019Abo\",\n                  \"sortName\"
      : \"d\u2019Abo, Mike\",\n                  \"disambiguation\" : \"\",\n                  \"url\"
      : \"https://www.setlist.fm/setlists/mike-dabo-73d4ee05.html\"\n               }\n
      \           }, {\n               \"name\" : \"Dakota\"\n            } ]\n         }
      ]\n      },\n      \"url\" : \"https://www.setli[...]
