interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/venue/6bd6ca6e/setlists
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 1,\n   \"total\" : 64,\n   \"setlist\" : [ {\n      \"id\" : \"43e8a373\",\n
      \     \"versionId\" : \"1b6685c0\",\n      \"eventDate\" : \"11-12-2002\",\n
      \     \"lastUpdated\" : \"2018-08-11T13:18:35.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"7bd9e20e-74b9-446a-a2ed-a223f82a36e7\",\n         \"name\"
      : \"Cyndi Lauper\",\n         \"sortName\" : \"Lauper, Cyndi\",\n         \"disambiguation\"
      : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/cyndi-lauper-1bd6b9e8.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"6bd6ca6e\",\n         \"name\"
      : \"Compaq Center\",\n         \"city\" : {\n            \"id\" : \"5392171\",\n
      \           \"name\" : \"San Jose\",\n            \"state\" : \"California\",\n
      \           \"stateCode\" : \"CA\",\n            \"coords\" : {\n               \"lat\"
      : 37.3393857,\n               \"long\" : -121.8949555\n            },\n            \"country\"
      : {\n               \"code\" : \"US\",\n               \"name\" : \"United States\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\"\n
      \     },\n      \"tour\" : {\n         \"name\" : \"Shine Tour\"\n      },\n
      \     \"sets\" : {\n         \"set\" : [ ]\n      },\n      \"url\" : \"https://www.setlist.fm/setlist/cyndi-lauper/2002/compaq-center-san-jose-ca-43e8a373.html\"\n
      \  }, {\n      \"id\" : \"bca691e\",\n      \"versionId\" : \"g6bd64232\",\n
      \     \"eventDate\" : \"17-11-2002\",\n      \"lastUpdated\" : \"2021-01-25T17:47:12.000+0000\",\n
      \     \"artist\" : {\n         \"mbid\" : \"9c355987-ef25-4f58-883e-67f5dead35e7\",\n
      \        \"name\" : \"American Idol Ensemble\",\n         \"sortName\" : \"American
      Idol Ensemble\",\n         \"disambiguation\" : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/american-idol-ensemble-4bd34fb6.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"6bd6ca6e\",\n         \"name\"
      : \"Compaq Center\",\n         \"city\" : {\n            \"id\" : \"5392171\",\n
      \           \"name\" : \"San Jose\",\n            \"state\" : \"California\",\n
      \           \"stateCode\" : \"CA\",\n            \"coords\" : {\n               \"lat\"
      : 37.3393857,\n               \"long\" : -121.8949555\n            },\n            \"country\"
      : {\n               \"code\" : \"US\",\n               \"name\" : \"United States\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\"\n
      \     },\n      \"sets\" : {\n         \"set\" : [ {\n            \"song\" :
      [ {\n               \"name\" : \"Black Cat\",\n               \"cover\" : {\n
      \                 \"mbid\" : \"6be2828f-6c0d-4059-99d4-fa18acf1a296\",\n                  \"name\"
      : \"Janet Jackson\",\n                  \"sortName\" : \"Jackson, Janet\",\n
      \                 \"disambiguation\" : \"\",\n                  \"url\" : \"https://www.setlist.fm/setlists/janet-jackson-33d6bce9.html\"\n
      \              },\n               \"info\" : \"Sung by EJay Day\"\n            },
      {\n               \"name\" : \"Easy\",\n               \"cover\" : {\n                  \"mbid\"
      : \"900ab237-327b-44e2-87e4-73250bbe025a\",\n                  \"name\" : \"Commodores\",\n
      \                 \"sortName\" : \"Commodores\",\n                  \"disambiguation\"
      : \"US funk/soul band with Lionel Richie\",\n                  \"url\" : \"https://www.setlist.fm/setlists/commodores-bd6b97e.html\"\n
      \              },\n  [...]
