interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/user/michi/attended?p=2
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 2,\n   \"total\" : 543,\n   \"setlist\" : [ {\n      \"id\" : \"7b8f1e64\",\n
      \     \"versionId\" : \"g43dcc70b\",\n      \"eventDate\" : \"29-07-2021\",\n
      \     \"lastUpdated\" : \"2021-07-29T06:33:27.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"d3201290-2791-4b2c-9d79-62eb6240e742\",\n         \"name\"
      : \"Saltatio Mortis\",\n         \"sortName\" : \"Saltatio Mortis\",\n         \"disambiguation\"
      : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/saltatio-mortis-23d6f8f3.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"53d7b3e9\",\n         \"name\"
      : \"Am alten Rhein\",\n         \"city\" : {\n            \"id\" : \"2772173\",\n
      \           \"name\" : \"Lustenau\",\n            \"state\" : \"Vorarlberg\",\n
      \           \"stateCode\" : \"08\",\n            \"coords\" : {\n               \"lat\"
      : 47.4330556,\n               \"long\" : 9.65\n            },\n            \"country\"
      : {\n               \"code\" : \"AT\",\n               \"name\" : \"Austria\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/am-alten-rhein-lustenau-austria-53d7b3e9.html\"\n
      \     },\n      \"sets\" : {\n         \"set\" : [ ]\n      },\n      \"url\"
      : \"https://www.setlist.fm/setlist/saltatio-mortis/2021/am-alten-rhein-lustenau-austria-7b8f1e64.html\"\n
      \  }, {\n      \"id\" : \"738f1e65\",\n      \"versionId\" : \"g5bdcc714\",\n
      \     \"eventDate\" : \"29-07-2021\",\n      \"lastUpdated\" : \"2021-07-29T06:33:11.000+0000\",\n
      \     \"artist\" : {\n         \"mbid\" : \"c36f882f-54e5-4f19-82da-10046fa4783e\",\n
      \        \"name\" : \"Lisa Pac\",\n         \"sortName\" : \"Pac, Lisa\[...]
