interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/search/cities?p=1&country=US&name=Hollywood&state=California&stateCode=CA
  response:
    content: "{\n   \"type\" : \"cities\",\n   \"itemsPerPage\" : 50,\n   \"page\"
      : 1,\n   \"total\" : 1,\n   \"cities\" : [ {\n      \"id\" : \"5408076\",\n
      \     \"name\" : \"West Hollywood\",\n      \"state\" : \"California\",\n      \"stateCode\"
      : \"CA\",\n      \"coords\" : {\n         \"lat\" : 34.0900091,\n         \"long\"
      : -118.3617443\n      },\n      \"country\" : {\n         \"code\" : \"US\",\n
      \        \"name\" : \"United States\"\n      }\n   } ]\n}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - U0oy1HZUIAMFcjw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '392'
      x-amzn-Remapped-Date:
      - Wed, 06 Jul 2022 02:07:52 GMT
      x-amzn-RequestId:
      - a8153d64-7aad-4250-97d8-967a7478871d
    status_code: 200
version: 1
