interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/artist/0bfba3d3-6a04-4779-bb0a-df07df5b0558
  response:
    content: "{\n   \"mbid\" : \"0bfba3d3-6a04-4779-bb0a-df07df5b0558\",\n   \"name\"
      : \"Stereophonics\",\n   \"sortName\" : \"Stereophonics\",\n   \"disambiguation\"
      : \"\",\n   \"url\" : \"https://www.setlist.fm/setlists/stereophonics-bd6bd7a.html\"\n}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - U0oxUG4uoAMF6tQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '215'
      x-amzn-Remapped-Date:
      - Wed, 06 Jul 2022 02:07:42 GMT
      x-amzn-RequestId:
      - c30f8401-c272-4286-b744-d6b4c0941ff6
    status_code: 200
version: 1
