interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/artist/0bfba3d3-6a04-4779-bb0a-df07df5b0558/setlists?p=2
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 2,\n   \"total\" : 991,\n   \"setlist\" : [ {\n      \"id\" : \"538b9f8d\",\n
      \     \"versionId\" : \"g3bc51098\",\n      \"eventDate\" : \"04-12-2021\",\n
      \     \"lastUpdated\" : \"2021-12-07T00:56:15.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"0bfba3d3-6a04-4779-bb0a-df07df5b0558\",\n         \"name\"
      : \"Stereophonics\",\n         \"sortName\" : \"Stereophonics\",\n         \"disambiguation\"
      : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/stereophonics-bd6bd7a.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"33d6c8f1\",\n         \"name\"
      : \"Usher Hall\",\n         \"city\" : {\n            \"id\" : \"2650225\",\n
      \           \"name\" : \"Edinburgh\",\n            \"state\" : \"Scotland\",\n
      \           \"stateCode\" : \"SCT\",\n            \"coords\" : {\n               \"lat\"
      : 55.95,\n               \"long\" : -3.2\n            },\n            \"country\"
      : {\n               \"code\" : \"GB\",\n               \"name\" : \"United Kingdom\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/usher-hall-edinburgh-scotland-33d6c8f1.html\"\n
      \     },\n      \"tour\" : {\n         \"name\" : \"Just Enough Education to
      Perform 20th Anniversary Tour\"\n      },\n      \"sets\" : {\n         \"set\"
      : [ {\n            \"name\" : \"Just Enough Education to Perform\",\n            \"song\"
      : [ {\n               \"name\" : \"Vegas Two Times\"\n            }, {\n               \"name\"
      : \"Surprise\"\n            }, {\n               \"name\" : \"Lying in the Sun\"\n
      \           }, {\n               \"name\" : \"Mr Writer\"\n            }, {\n
      \              \"name\" : \"Step on My Old Size Nines\"\n            }, {\n
      \              \"name\" : \"Have a Nice Day\"\n            }, {\n               \"name\"
      : \"Nice to Be Out\"\n            }, {\n               \"name\" : \"Handbags
      and Gladrags\",\n               \"cover\" : {\n                  \"mbid\" :
      \"3ffdc562-47d6-4862-b3ab-b1077e0e8b15\",\n                  \"name\" : \"Mike
      d\u2019Abo\",\n                  \"sortName\" : \"d\u2019Abo, Mike\",\n                  \"disambiguation\"
      : \"\",\n                  \"url\" : \"https://www.setlist.fm/setlists/mike-dabo-73d4ee05.html\"\n
      \              }\n            }, {\n               \"name\" : \"Watch Them Fly
      Sundays\"\n            }, {\n               \"name\" : \"Everyday I Think of
      Money\"\n            }, {\n               \"name\" : \"Maybe\"\n            },
      {\n               \"name\" : \"Caravan Holiday\"\n            }, {\n               \"name\"
      : \"Rooftop\"\n            } ]\n         }, {\n            \"encore\" : 1,\n
      \           \"song\" : [ {\n               \"name\" : \"Hanging On Your Hinges\"\n
      \           }, {\n               \"name\" : \"Geronimo\"\n            }, {\n
      \              \"name\" : \"Do Ya Feel My Love\"\n            }, {\n               \"name\"
      : \"C'est la vie\"\n            }, {\n               \"name\" : \"Just Looking\"\n
      \           }, {\n               \"name\" : \"Fly Like an Eagle\"\n            },
      {\n               \"name\" : \"Mr and Mrs Smith\"\n            } ]\n         },
      {\n            \"encore\" : 2,\n            \"song\" : [ {\n               \"name\"
      : \"Hurry Up and Wait\"\n            }, {\n               \"name\" : \"Traffic\"\n
      \           }, {\n               \"name\" : \"Maybe Tomorrow\"\n            },
      {\n               \"name\" : \"Dakota\"\n            } ]\n         } ]\n      },\n
      \     \"info\" : \"EDINBURGH - JEEP @ 20 TOUR - SHOW SIX v.1 (printed on setlist)\",\n
      \     \"url\" : \"https://www.setlist.fm/setlist/stereophonics/2021/usher-hall-edinburgh-scotland-538b9f8d.html\"\n
      \  }, {\n      \"id\" : \"638ba663\",\n      \"versionId\" : \"g3bc5109c\",\n
      \     \"eventDate\" : \"03-12-2021\",\n      \"lastUpdated\" : \"2021-12-07T00:57:01.000+0000\",\n
      \     \"artist\" : {\n         \"mbid\" : \"0bfba3d3-6a04-4779-bb0a-df07df5b0558\",\n
      \        \"name\" : [...]
