interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/search/setlists?artistMbid=67f66c07-6e61-4026-ade5-7e782fad3a5d&artistName=Foo+Fighters&cityId=5140405&cityName=Syracuse&countryCode=US&date=15-09-2021&lastUpdated=20211104153955&state=New+York&stateCode=NY&tourName=26th+Anniversary+Tour&venueId=43d23f0f&venueName=St.+Joseph%27s+Health+Amphitheater+at+Lakeview&year=2021&p=1
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 1,\n   \"total\" : 1,\n   \"setlist\" : [ {\n      \"id\" : \"5b8c7b4c\",\n
      \     \"versionId\" : \"g23c7ecd3\",\n      \"eventDate\" : \"15-09-2021\",\n
      \     \"lastUpdated\" : \"2021-11-04T15:39:55.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"67f66c07-6e61-4026-ade5-7e782fad3a5d\",\n         \"name\"
      : \"Foo Fighters\",\n         \"sortName\" : \"Foo Fighters\",\n         \"disambiguation\"
      : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/foo-fighters-bd6893a.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"43d23f0f\",\n         \"name\"
      : \"St. Joseph's Health Amphitheater at Lakeview\",\n         \"city\" : {\n
      \           \"id\" : \"5140405\",\n            \"name\" : \"Syracuse\",\n            \"state\"
      : \"New York\",\n            \"stateCode\" : \"NY\",\n            \"coords\"
      : {\n               \"lat\" : 43.0481221,\n               \"long\" : -76.1474244\n
      \           },\n            \"country\" : {\n               \"code\" : \"US\",\n
      \              \"name\" : \"United States\"\n            }\n         },\n         \"url\"
      : \"https://www.setlist.fm/venue/st-josephs-health-amphitheater-at-lakeview-syracuse-ny-usa-43d23f0f.html\"\n
      \     },\n      \"tour\" : {\n         \"name\" : \"26th Anniversary Tour\"\n
      \     },\n      \"sets\" : {\n         \"set\" : [ {\n            \"song\" :
      [ {\n               \"name\" : \"Times Like These\"\n            }, {\n               \"name\"
      : \"The Pretender\"\n            }, {\n               \"name\" : \"Learn to
      Fly\"\n            }, {\n               \"name\" : \"No Son of Mine\",\n               \"info\"
      : \"Not on printed setlist\"\n            }, {\n               \"name\" : \"The
      Sky Is a Neighborhood\"\n            }, {\n               \"name\" : \"Shame
      Shame\"\n            }, {\n               \"name\" : \"Breakout\"\n            },
      {\n               \"name\" : \"My Hero\"\n            }, {\n               \"name\"
      : \"These Days\"\n            }, {\n               \"name\" : \"Walk\"\n            },
      {\n               \"name\" : \"You Should Be Dancing\",\n               \"cover\"
      : {\n                  \"mbid\" : \"bf0f7e29-dfe1-416c-b5c6-f9ebc19ea810\",\n
      \                 \"name\" : \"Bee Gees\",\n                  \"sortName\" :
      \"Bee Gees\",\n                  \"disambiguation\" : \"\",\n                  \"url\"
      : \"https://www.setlist.fm/setlists/bee-gees-1bd6bd48.html\"\n               },\n
      \              \"info\" : \"followed by band introductions\"\n            },
      {\n               \"name\" : \"Somebody to Love\",\n               \"c[...]
