interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/user/michi/attended?p=1
  response:
    content: "{\n   \"type\" : \"setlists\",\n   \"itemsPerPage\" : 20,\n   \"page\"
      : 1,\n   \"total\" : 543,\n   \"setlist\" : [ {\n      \"id\" : \"33b47c45\",\n
      \     \"versionId\" : \"g3bf714d4\",\n      \"eventDate\" : \"11-06-2022\",\n
      \     \"lastUpdated\" : \"2022-06-13T06:32:59.000+0000\",\n      \"artist\"
      : {\n         \"mbid\" : \"e739971e-c967-468d-a5ef-5689dd641d24\",\n         \"name\"
      : \"Granada\",\n         \"sortName\" : \"Granada\",\n         \"disambiguation\"
      : \"Austrian band\",\n         \"url\" : \"https://www.setlist.fm/setlists/granada-3c59117.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"5bd623dc\",\n         \"name\"
      : \"Conrad Sohm\",\n         \"city\" : {\n            \"id\" : \"2780741\",\n
      \           \"name\" : \"Dornbirn\",\n            \"state\" : \"Vorarlberg\",\n
      \           \"stateCode\" : \"08\",\n            \"coords\" : {\n               \"lat\"
      : 47.4166667,\n               \"long\" : 9.7330556\n            },\n            \"country\"
      : {\n               \"code\" : \"AT\",\n               \"name\" : \"Austria\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/conrad-sohm-dornbirn-austria-5bd623dc.html\"\n
      \     },\n      \"sets\" : {\n         \"set\" : [ ]\n      },\n      \"url\"
      : \"https://www.setlist.fm/setlist/granada/2022/conrad-sohm-dornbirn-austria-33b47c45.html\"\n
      \  }, {\n      \"id\" : \"53b4fb6d\",\n      \"versionId\" : \"g5bf61bf8\",\n
      \     \"eventDate\" : \"01-06-2022\",\n      \"lastUpdated\" : \"2022-06-03T10:44:02.000+0000\",\n
      \     \"artist\" : {\n         \"mbid\" : \"fad10ed4-58c7-47bb-9d70-88d8c3b0ccc2\",\n
      \        \"name\" : \"Friska Viljor\",\n         \"sortName\" : \"Friska Viljor\",\n
      \        \"disambiguation\" : \"\",\n         \"url\" : \"https://www.setlist.fm/setlists/friska-viljor-63d632ab.html\"\n
      \     },\n      \"venue\" : {\n         \"id\" : \"5bd623dc\",\n         \"name\"
      : \"Conrad Sohm\",\n         \"city\" : {\n            \"id\" : \"2780741\",\n
      \           \"name\" : \"Dornbirn\",\n            \"state\" : \"Vorarlberg\",\n
      \           \"stateCode\" : \"08\",\n            \"coords\" : {\n               \"lat\"
      : 47.4166667,\n               \"long\" : 9.7330556\n            },\n            \"country\"
      : {\n               \"code\" : \"AT\",\n               \"name\" : \"Austria\"\n
      \           }\n         },\n         \"url\" : \"https://www.setlist.fm/venue/conrad-sohm-dornbirn-austria-5bd623dc.html\"\n
      \     },\n      \"sets\" : {\n         \"set\" : [ {\n            \"song\" :
      [ {\n               \"name\" : \"If I Die Now\"\n            } ]\n         },
      {\n            \"encore\" : 1,\n            \"song\" : [ {\n               \"name\"
      : \"Inbreeds\",\n               \"with\" : {\n                  \"mbid\" : \"281db260-0c3d-4dd9-b48d-2c10f13ec2d1\",\n
      \                 \"name\" : \"MESSINA\",\n                  \"sortName\" :
      \"MESSINA\",\n                  \"disambiguation\" : \"Electronic pop group\",\n
      \                 \"url\" : \"https://www.setlist.fm/setlists/messina-3f239ef.html\"\n
      \              }\n            } ]\n         }, {\n            \"encore\" : 2,\n
      \           \"song\" : [ {\n               \"name\" : \"Shotgun Sister\",\n
      \              \"info\" : \"Played on bar at the back of the venue and within
      the audience\"\n            }, {\n               \"name\" : \"Ooh La La\",\n
      \              \"tape\" : true,\n               \"cover\" : {\n                  \"mbid\"
      : \"8c7a8406-f15a-408d-b0f6-23be813bdddc\",\n                  \"name\" : \"Faces\",\n
      \                 \"sortName\" : \"Faces\",\n                  \"disambiguation\"
      : \"successor of \\\"Small Faces\\\", members Rod Stewart, Ron Wood\",\n                  \"url\"
      : \"https://www.setlist.fm/setlists/faces-2bd6b8a6.html\"\n               }\n
      \           } ]\n         } ]\n      },\n      \"url\" : \"https://www.setlist.fm/setlist/fris[...]
