interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/city/4930956
  response:
    content: "{\n   \"id\" : \"4930956\",\n   \"name\" : \"Boston\",\n   \"state\"
      : \"Massachusetts\",\n   \"stateCode\" : \"MA\",\n   \"coords\" : {\n      \"lat\"
      : 42.3584308,\n      \"long\" : -71.0597732\n   },\n   \"country\" : {\n      \"code\"
      : \"US\",\n      \"name\" : \"United States\"\n   }\n}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - U0oxuEZcoAMFrCw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '248'
      x-amzn-Remapped-Date:
      - Wed, 06 Jul 2022 02:07:45 GMT
      x-amzn-RequestId:
      - e679d599-61ba-47e0-920f-acd520eac466
    status_code: 200
version: 1
