interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/search/venues?cityId=5128581&cityName=New+York&country=US&state=New+York&stateCode=NY&p=1
  response:
    content: "{\n   \"type\" : \"venues\",\n   \"itemsPerPage\" : 30,\n   \"page\"
      : 1,\n   \"total\" : 2531,\n   \"venue\" : [ {\n      \"id\" : \"7bd34a94\",\n
      \     \"name\" : \"lpr.tv\",\n      \"city\" : {\n         \"id\" : \"5128581\",\n
      \        \"name\" : \"New York\",\n         \"state\" : \"New York\",\n         \"stateCode\"
      : \"NY\",\n         \"coords\" : {\n            \"lat\" : 40.7142691,\n            \"long\"
      : -74.0059729\n         },\n         \"country\" : {\n            \"code\" :
      \"US\",\n            \"name\" : \"United States\"\n         }\n      },\n      \"url\"
      : \"https://www.setlist.fm/venue/lprtv-new-york-ny-usa-7bd34a94.html\"\n   },
      {\n      \"id\" : \"23d5bcdf\",\n      \"name\" : \"iHeartRadio Theater\",\n
      \     \"city\" : {\n         \"id\" : \"5128581\",\n         \"name\" : \"New
      York\",\n         \"state\" : \"New York\",\n         \"stateCode\" : \"NY\",\n
      \        \"coords\" : {\n            \"lat\" : 40.7142691,\n            \"long\"
      : -74.0059729\n         },\n         \"country\" : {\n            \"code\" :
[...]
