interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.setlist.fm/rest/1.0/search/countries
  response:
    content: "{\n   \"type\" : \"countries\",\n   \"itemsPerPage\" : 250,\n   \"page\"
      : 1,\n   \"total\" : 250,\n   \"country\" : [ {\n      \"code\" : \"AD\",\n
      \     \"name\" : \"Andorra\"\n   }, {\n      \"code\" : \"AE\",\n      \"name\"
      : \"United Arab Emirates\"\n   }, {\n      \"code\" : \"AF\",\n      \"name\"
      : \"Afghanistan\"\n   }, {\n      \"code\" : \"AG\",\n      \"name\" : \"Antigua
      & Barbuda\"\n   }, {\n      \"code\" : \"AI\",\n      \"name\" : \"Anguilla\"\n
      \  }, {\n      \"code\" : \"AL\",\n      \"name\" : \"Albania\"\n   }, {\n      \"code\"
      : \"AM\",\n      \"name\" : \"Armenia\"\n   }, {\n      \"code\" : \"AN\",\n
 [...]
